<div class="full-page">
    <div class="header">
        <table style="width: 100%;">
            <tr>
                <td>
                    <div style="display:flex;">
                        <button style="height: 40px;" mat-raised-button color="primary" (click)="prevDay()">-</button>
                        <data-control [column]="params.date" title='day: {{params.date.getDayOfWeek() + 1}}'>
                        </data-control>
                        <button style="height: 40px;" mat-raised-button color="primary" (click)="nextDay()">+</button>
                        <!-- <button mat-mini-fab title="Refresh" (click)="refresh()" color="primary"
                            title="{{ this.refreshed | date: 'HH:mm' }}">
                            <mat-icon>refresh</mat-icon>
                        </button> -->
                    </div>
                    <app-root-params></app-root-params>
                </td>
                <td>
                    <button mat-mini-fab title="add" (click)="addOrder()" color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="grow-item">
        <data-grid [settings]='orders'></data-grid>
    </div>
    <div class="footer"></div>
</div>