<div class="full-page">
    <div class="header">
        <div style="display: flex; flex-direction: row; justify-content: space-between; ">
            <div style="width: 100%;">
                <data-control [column]="store"></data-control>
            </div>
            <button *ngIf="this.isTechnician() && !this.isAdmin()" mat-raised-button style="margin: 5px 5px 14px 0px ;" color='primary' (click)="showMyContainer()">
                <!-- <mat-icon>add</mat-icon> -->
                <mat-label>{{ 'הצג מחסן שלי' }}                </mat-label>
            </button> 
            <!-- <div style="min-width: 150px; padding-right: 5px; width: 100%;">
                <data-control [column]="status"></data-control>
            </div>
            <div style="min-width: 150px; padding-right: 5px; width: 100%;">
                <data-control [column]="type"></data-control>
            </div> -->
        </div>
    </div>
    <div class="grow-item">
        <data-grid *ngIf="this.containers" [settings]="this.containers"></data-grid>
    </div>
    <div class="footer"></div>
</div>