/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-page {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.grow-item {
  height: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-y: auto;
}
.mat-list-item-content {
  justify-content: space-between;
}
.center-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.cfx-font-bold{
  font-weight: bolder;
  background-color: #8b9df5 !important;
}

.order-type-normal {
  color: #492de7 !important;
  font-weight: bold;
}

.order-type-maintenance {
  color: rgb(255, 127, 39) !important;
  font-weight: bold;
}

.order-type-fault {
  color: #d12020 !important;
  font-weight: bold;
}
